.Header {
  background-color: #002855;
  color: white;
  text-align: center;

  h1 {
    font-size: 550%;

    &::first-letter {
      color: yellow;
    }
  }

  nav {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      li {
        margin: 0 10px;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.05);
          text-decoration: underline;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}